rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /training/{document=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null
                   && request.auth.uid == "PASTE_OWNER_UID";
    }
  }
}
