rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isOwner() {
      return request.auth != null
             && request.auth.uid == "CYztDF9n3UW7hmWFAOhL4En5Dr03";
    }

    function hasInvitation() {
      return request.auth != null
             && request.auth.token.email != null
             && exists(/databases/$(database)/documents/invites/$(request.auth.token.email));
    }

    match /training/{document=**} {
      allow read: if isOwner() || hasInvitation();
      allow write: if isOwner();
    }

    match /invites/{email} {
      allow read: if isOwner()
                  || (request.auth != null && request.auth.token.email == email);
      allow create, update, delete: if isOwner();
    }
  }
}
